html {
  background-color: gray;
}

h1 {
  color: rgb(45, 44, 49);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

h3 {
}

ol,
ul {
  /* text-align: center; */
}
