body {
  font-family: Tahoma;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ec576b;
  color: white;
  border-bottom: 5px #fedc3d solid;
  text-align: center;
}

header h1 {
  border-bottom: 2px #ffffff solid;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  line-height: 75px;
}

header p {
  border-bottom: 2px #ffffff solid;
  height: 50px;
}

section {
  background-color: #fedc3d;
  width: 75%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  border-bottom: 5px #000000 solid;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
}

article {
  background-color: #ffffff;
  /* max-width: 40%; */
}

#leftP {
  max-width: 40%;
  justify-content: start;
  margin: 50px;
  padding: 10px 15px 30px 15px;
  margin-left: 10%;
}

#rightP {
  max-width: 40%;
  justify-content: start;
  margin: 50px;
  padding: 10px 15px 30px 15px;
  margin-left: 50%;
}

h3 {
  text-align: right;
}

footer {
  background-color: #4ec5c1;
  border-top: 5px #fedc3d solid;
  color: white;
  text-align: center;
}
