html {
  background-color: white;
}

body {
  background-color: lightgrey;
  margin: auto;
  max-width: 75%;
}

header {
  background-color: whitesmoke;
  float: left;
  width: 100%;
  height: 120px;
  /* border-bottom: black; */
}

header h1 {
  font-weight: bolder;
  font-size: 50px;
  padding-left: 50px;
  margin-bottom: auto;
  position: relative;
  bottom: 20px;
}

header h3 {
  color: gray;
  padding-left: 80px;
  position: relative;
  bottom: 30px;
}

header ul {
  float: right;
  bottom: 10em;
  position: relative;
  padding-right: 8em;
  list-style: none;
}

header a {
  text-decoration: none;
}

#skills {
  display: inline-block;
}

h2 {
}

h3 {
}

main ul {
}

main ul:nth-child(1) {
}

main ul:nth-child(2) {
}

section ul:nth-child(1) {
}

section ul:nth-child(2) {
}

article ul:nth-child(1) {
}

article ul:nth-child(2) {
}

article ul:nth-child(3) {
}

article ul:nth-child(4) {
}
