html {
  width: 500px;
  height: 50px;
  background-color: rgb(132, 9, 170);
}

h1 {
  color: white;
  font-size: xx-large;
}

p {
  color: rgb(202, 79, 202);
}

ul {
  background-color: rgb(175, 170, 170);
}
